@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans TC', 'Arial', sans-serif; /* 使用你喜歡的字體 */
    background-color: rgb(37, 171, 233), 255, 255); /* 如果你想要改變背景色，請修改這裡 */
}

.background {
    background-image: url('https://raw.githubusercontent.com/rushiaismywaifu/ui_shigure/main/bg.jpg'); /* 背景圖片的 URL */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* 固定背景，不影響閱讀內容 */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    text-align: center;
    color: #30dd38; /* 字體顏色 */
    background-color: rgba(0, 0, 0, 0.6); /* 背景色和透明度，以達到不影響內容 */
    padding: 20px;
    border-radius: 10px;
}

.videoContent {
	background-color: rgb(40, 46, 83);
	width: 100%;
	height: 100%;
}

.videoElement {
	object-fit: fill;
}